# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/build/
android/app/build/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/.symlinks/

# IDE
.vscode/
.idea/
*.iml
